/*
dark blue: #4298a5;
light pink: #ffbdd9;
dark pink: #ff8ba8;
gray:#e0e0e0;
font-family: 'Amatic SC', cursive;
font-family: 'Open Sans Condensed', sans-serif;
*/

/* * * * * * * * * * * * * * * * * * * * *
General Styles
* * * * * * * * * * * * * * * * * * * * */

h1, h2, h4 {
    font-family: 'Amatic SC', cursive;
}

h1 {
    font-size: 70px;
    font-weight: 700;
    color: #eadbea;
}

h2 {
    font-size: 40px;
    font-weight: 700;
}

h4 {
    font-size: 32px;
    font-weight: 700;
}


p {
    font-family: 'Open Sans Condensed', sans-serif;
}

button {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12px;
}

img {
    width: 100%;
}


/* * * * * * * * * * * * * * * * * * * * *
Header Styles
* * * * * * * * * * * * * * * * * * * * */

header {
    height: 80px;
    background: white;
    padding-top: 20px;
}

header .logo {
    height: 40px;
    width: 80px;
    background-size: 40px;
    padding-top: 10px;
}

 /* Desktop Styles  */
.desktop-nav ul {
    float: right;
    margin-top: 10px;
    padding: 0;
    width: calc(100% - 80px);
    text-align: right;
}

.desktop-nav li {
    display: inline-block;
    margin-left: 25px;
}

.desktop-nav a,
.desktop-nav a:visited {
    color: #4298a5;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    border-radius: 20px;
}

.desktop-nav a:hover,
.desktop-nav a:focus,
.desktop-nav a:active {
    opacity: 0.9;
    color: #ff8ba8;
    background: #e0e0e0;
    text-decoration: none;
}

.desktop-nav .logo {
    float: left;
}

/* Mobile Styles */
.mobile-nav {
    display: none;
    text-align: center;
}

.mobile-nav .logo {
    display: inline-block;
}

.mobile-nav .hamburger-container,
.mobile-nav .search-container {
    width: 40px;
    display: inline-block;
    margin-left: -4px;
}

.mobile-nav .logo-container {
    display: inline-block;
    margin-left: -4px;
    width: calc(100% - 80px);
}

.mobile-nav button {
    background: transparent;
    border: none;
    color: black;
}


@media (max-width: 768px) {
    .mobile-nav {
        display: block;
    }

    .desktop-nav {
        display: none;
    }
}

/* * * * * * * * * * * * * * * * * * * * *
Hero Styles
* * * * * * * * * * * * * * * * * * * * */

.hero {
    height: calc(80vh - 80px);
    background-image: url('../img/forest.jpg');
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: linear-gradient(
        20deg,
        rgba(60,150,200,0.4),
        rgba(300,20,100,0.1)),
        url('../img/forest.jpg');
}

.hero-text-container {
    padding-top: 20vh;
}

.hero-text-container h1 {
    margin-bottom: 20px;
}

.hero-text-container h4 {
    margin-bottom: 30px;
}

.hero-text-container a,
.hero-text-container a:visited {
    color: #4298a5;
    background: #e0e0e0;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}

.hero-text-container a:hover,
.hero-text-container a:focus,
.hero-text-container a:active {
    color: #e0e0e0;
    background: #4298a5;
}

@media (max-width: 768px) {
    .hero {
        height: inherit;
    }
    .hero-text-container {
        padding: 3em;
    }
}

/* * * * * * * * * * * * * * * * * * * * *
Blog Card Styles
* * * * * * * * * * * * * * * * * * * * */

.blog-cards {
    height: 400px;
    text-align: center;
    background-color: #eadbea;
    padding-top: 20px;
}


.card  {
    width: 200px;
    display: inline-block;
    margin:50px 20px 20px 0;
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.description-container {
    background: #e0e0e0;
    height: 50px;
    padding-top: 10px;
}

.blog-title {
    font-weight: bold;
}

.blog-title a {
    font-size: 18px;
    color:#4298a5;
    text-decoration: none;
}


@media (max-width: 768px) {
    .blog-cards {
        height: inherit;
    }
}
/* * * * * * * * * * * * * * * * * * * * *
Footer Styles
* * * * * * * * * * * * * * * * * * * * */
footer {
    height: 200px;
    background: #e0e0e0;
}

footer h3 {
    text-align: center;
    padding-top: 20px;
}

footer li {
    display: inline-block;
}

@media (max-width: 768px) {
    footer {
        height: 200px;
    }
}
